venv/
.env
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

artifacts/*
!artifacts/.gitkeep
logs/*
!logs/.gitkeep
saved_models/*
!saved_models/.gitkeep
prediction_output/*
!prediction_output/.gitkeep

.vscode/
src/networksecurity.egg-info
mlruns